<html>
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="container-fluid">
            <div class="navbar-header">
                  <a class="navbar-brand" href="/djangoapp">Best Cars</a>
                  <a class="navbar-brand" href="/djangoapp/about">About Us</a>
                  <a class="navbar-brand" href="/djangoapp/contact">Contact Us</a>
            </div>
        </div>
    </nav>

    <div class = "container p-3 my-3">
        <h1 style="text-align: center" class="display-4">
        Welcome to Best Cars dealership, home to the best cars in North America. We sell domestic and imported cars at reasonable prices.
        </h1>
        <br>
        <img style="display: block; margin-left: auto; margin-right: auto; width: 35%;" 
        src="https://media.istockphoto.com/vectors/business-people-putting-us-dollar-coin-into-a-car-vector-id1199890688?k=20&m=1199890688&s=612x612&w=0&h=eXpIHVgf7489Moz672Jmbt8oU86H7-iGaav95xeufqE=">
    </div>
</body>
</html>